<!DOCTYPE html>
<html>

<head>
    <title>Research Visualizer</title>

    <style>
    [v-cloak] { display: none; }
    </style>

    <!-- JQUERY -->
    <!-- TODO: load minified for non-dev ENVIRONMENT -->
    <script dever src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

    <!-- BOOTSTRAP -->
    <!-- TODO: should I keep this? -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script defertype="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- VUEJS -->
    <!-- TODO: load minified for non-dev ENVIRONMENT -->
    <script defer src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>    
    <script defer src="https://unpkg.com/vue-resource@1.5.0/dist/vue-resource.js"></script>
</head>

<!-- TODO: decorate body with ENVIRONMENT -->
<body>
    <a id="top" class="top"></a>

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <!-- Global JS Variables -->
    <script>
        var debug = {% if DEBUG or ENVIRONMENT == "dev" %}true{% else %}false{% endif %}
        var baseUrl = "{{ BASE_URL }}"
    </script>

    <!-- Page-Specific JS -->
    {% block bottomjs %}
    {% endblock %}
</body>

</html>
