{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>

<head>
    <title>Research Visualizer</title>

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

    <!-- JQUERY -->
    <!-- TODO: load minified for non-dev ENVIRONMENT -->
    <script dever src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script defertype="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- LODASH -->
    <script defer src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>    

    <!-- COOKIES -->
    <script defer src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>

    <!-- D3 -->
<!--     <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
    const div = d3.selectAll("div");
    </script> -->
</head>

<!-- TODO: decorate body with ENVIRONMENT -->
<body>
    <a id="top" class="top"></a>

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <!-- Global JS Variables -->
    <script>
        var debug = {% if DEBUG or ENVIRONMENT == "dev" %}true{% else %}false{% endif %}
        var baseUrl = "{{ BASE_URL }}"
    </script>

    <!-- Page-Specific JS, uncompressed -->
    {% block bottomjs_uncompressed %}{% endblock %}

    <!-- Page-Specific JS, compressed -->
    {% compress js %}
    {% block bottomjs_compressed %}{% endblock %}
    {% endcompress %}
</body>

</html>
