{% extends "base.html" %}
{% load static %}

<!-- TODO -->
{% block content %}
<section v-cloak id="vue-el-index">
    <!-- Search bar -->
    <div>
        <template v-if="loadingPage">
            Loading...
        </template>
        <template v-else>
            <input v-model=query type="text" :disabled="loadingResults"></input>
            <a @click="search" :disabled="loadingResults">Search</a>
        </template>
    </div>

    <!-- Results -->
    <div>
        <template v-if="loadingResults">
            Searching...
        </template>
        <template v-else>
            <div v-for="(categoryObj, category, index) in results" :key="category">
                <div>${ category }</div>
                <div>Number of entries: ${ categoryObj.num_entries } </div>
                <ul>
                    <!-- add for-loop key -->
                    <li v-for="entry in categoryObj.entries"><em>${ entry.title }</em> by ${ entry.first_author } in ${ entry.publication_name}</li>
                </ul>            
            </div>
        </template>
    </div>
</section>
{% endblock %}

<!-- Page-Specific JS -->
{% block bottomjs %}
<script>
    const DEBUG = {% if DEBUG %}true{% else %}false{% endif %}
</script>
<script defer type="module" src="{% static 'index.js' %}"></script>
{% endblock %}