{% extends "base.html" %}
{% load static %}

<!-- TODO: comment -->
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/v_network_graph_style.css' %}" />
{% endblock %}

<!-- TODO: comment -->
{% block content %}
<section v-cloak id="vue-el-index">
    <div v-if="loadingPage">
        Loading...
    </div>
    <div v-else>

        <!-- Search bar -->
        <div>
            <input v-model=query type="text" :disabled="loadingResults"></input>
            <a @click.prevent="search" class="btn" :class="{ disabled: loadingResults }">Search</a>
        </div>

        <!-- Category search results -->
        <section v-if="searchCategory">
            <a href="#" @click="searchCategory = null">${ lastSearch.query }</a> > ${ searchCategory }
        </section>

        <!-- Top-level search results -->
        <section v-else id="visualization">
            <!-- TODO: Figure out why reactivity isn't working so we don't have to relay on loadingNewResult -->
            <network-graph v-if="!loadingResults && !isEmpty(spokeNodes)" :spoke-nodes="spokeNodes" :event-handlers="eventHandlers"></network-graph>
        </section>

        <!-- Errors -->
        <div v-if="errors.length > 0">
            <div v-for="error in errors">
                <div>${ error }</div>
            </div>
        </div>

        <!-- Results -->
        <div>
            <div v-if="loadingResults">
                Searching...
            </div>
            <div v-if="!isEmpty(results)" v-for="(categoryObj, category, index) in results" :key="category">
                <div>${ category }</div>
                <div>Number of entries: ${ categoryObj.num_entries } </div>
                <ul>
                    <!-- add for-loop key -->
                    <li v-for="entry in categoryObj.entries">
                        <a @click.prevent="fetchAbstract(entry.scopus_id)">
                            <em>${ entry.title }</em> by ${ entry.first_author } in ${ entry.publication_name}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
{% endblock %}

<!-- Page-Specific JS, uncompressed -->
{% block bottomjs_uncompressed %}
<script>
    const DEBUG = {% if DEBUG %}true{% else %}false{% endif %}
</script>
{% endblock %}

<!-- Page-Specific JS, compressed -->
{% block bottomjs_compressed %}
<script defer type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}