{% extends "base.html" %}
{% load static %}

<!-- Header block -->
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/v_network_graph_style.css' %}" />
{% endblock %}

<!-- Content block -->
{% block content %}
<section v-cloak id="visualizer">

    <!----------->
    <!-- Setup -->
    <!----------->

    <div v-if="loadingPage">
        Loading...
    </div>
    <div v-else-if="selectingSearch">
        <div>
        Enter a search query to generate new results or select from the list of existing search results.
        </div>

        <!-- Search bar -->
        <div>
            <div>New Search:</div>
            <input v-model=query type="text"></input>
            <a @click.prevent="initiateSearch" class="btn">Search</a>
        </div>

        <div v-if="searches && searches.length">
            <div>Existing Search Results:</div>
            <div v-for="search in searches">
                <a @click.prevent="selectSearch(search)">${ search.query }, ${ search.categories }, ${ search.finished_at }</a>
            </div>
        </div>

    </div>

    <!-------------------->
    <!-- Search results -->
    <!-------------------->

    <div v-else-if="loadingSearchResults">
        Loading...
        <!-- TODO: Provide status for real-time search on the categories being searched, one by one -->
    </div>

    <div v-else>
        <!-- Breadcrumbs -->
        <div v-if="source">
            <!-- TODO: Display category & classification name -->
            <a @click="exitSearch">search</a> > <a @click="exitCategory">${ search.query }</a> > <a @click="exitClassification">${ category }</a> > <a @click="exitSource">${ classification }</a> > ${ source }
        </div>
        <div v-else-if="classification">
            <!-- TODO: Display category & classification name -->
            <a @click="exitSearch">search</a> > <a @click="exitCategory">${ search.query }</a> > <a @click="exitClassification">${ category }</a> > ${ classification }
        </div>
        <div v-else-if="category">
            <!-- TODO: Display category name -->
            <a @click="exitSearch">search</a> > <a @click="exitCategory">${ search.query }</a> > ${ category }
        </div>
        <div v-else>
            <a @click="exitSearch">search</a> > ${ search.query }
        </div>

        <!-- Errors -->
        <div v-if="errors.length > 0">
            <div v-for="error in errors">
                <div>${ error }</div>
            </div>
        </div>

        <!-- Fourth-level search results: entries for classification & source -->
        <div v-if="source">
            <!-- TODO: Turn this into a component? -->
            <div>
                <table>
                    <tr>
                        <td>Publication</td>
                        <td>Document Type</td>
                        <td>Title</td>
                        <td>First Author</td>
                    </tr>
                    <tr v-for="entry in classificationEntries" :key="entry.scopus_id" @click="enterEntry(entry)">
                        <td>
                            ${entry.publication_name}
                        </td>
                        <td>
                            <!-- TODO: Translate to human-readable -->
                            ${entry.document_type}
                        </td>
                        <td>
                            ${entry.title}
                        </td>
                        <td>
                            ${entry.first_author}
                        </td>
                    </tr>
                </table>
            </div>
            <!-- TODO: Turn this into a component? -->
            <section v-if="entry">
                <div style="position:absolute; top: 100px; left: 100px; z-index=2000; background-color: red;">
                    ${ entry.abstract }
                    <div @click="exitEntry">
                        X
                    </div>
                </div>
            </section>
        </div>

        <!-- First-level search results: all categories -->
        <!-- Second-level search results: classifications for category -->
        <!-- Third-level search results: sources for classification -->
        <template v-else>
            <network-graph v-if="!isEmpty(spokeNodes)" :spoke-nodes="spokeNodes" :event-handlers="eventHandlers"></network-graph>
        </template>
    </div>

</section>
{% endblock %}

<!-- Page-Specific JS, uncompressed -->
{% block bottomjs_uncompressed %}
<script>
    // Translate django variables to JS variables
</script>
{% endblock %}

<!-- Page-Specific JS, compressed -->
{% block bottomjs_compressed %}
<script defer type="module" src="{% static 'js/visualizer.js' %}"></script>
{% endblock %}