{% extends "base.html" %}
{% load static %}

<!-- Header block -->
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/v_network_graph_style.css' %}" />
{% endblock %}

<!-- Content block -->
{% block content %}
<section v-cloak id="visualizer">

    <!----------->
    <!-- Setup -->
    <!----------->

    <div v-if="loadingPage">
        Loading...
    </div>
    <div v-else-if="selectingSearch">
        <div>
        Enter a search query to generate new results or select from the list of existing search results.
        </div>

        <!-- Search bar -->
        <div>
            <div>New Search:</div>
            <input v-model=query type="text"></input>
            <a @click.prevent="initiateSearch" class="btn">Search</a>
        </div>

        <div v-if="searches && searches.length">
            <div>Existing Search Results:</div>
            <div v-for="search in searches">
                <a @click.prevent="selectSearch(search)">${ search.query }, ${ search.categories }, ${ search.finished_at }</a>
            </div>
        </div>
    </div>

    <!-------------------->
    <!-- Search results -->
    <!-------------------->

    <div v-else-if="loadingSearchResults">
        Loading...
        <!-- TODO: Provide status for real-time search on the categories being searched, one by one -->
    </div>

    <div v-else>
        <!-- Breadcrumbs -->
        <div v-if="source">
            <a @click="exitSearch">search</a> > <a @click="exitCategory">${ search.query }</a> > <a @click="exitClassification">${ categoryName(category) }</a> > <a @click="exitSource">${ classificationName(classification) }</a> > ${ sourceName(source) }
        </div>
        <div v-else-if="classification">
            <a @click="exitSearch">search</a> > <a @click="exitCategory">${ search.query }</a> > <a @click="exitClassification">${ categoryName(category) }</a> > ${ classificationName(classification) }
        </div>
        <div v-else-if="category">
            <a @click="exitSearch">search</a> > <a @click="exitCategory">${ search.query }</a> > ${ categoryName(category) }
        </div>
        <div v-else>
            <a @click="exitSearch">search</a> > ${ search.query }
        </div>

        <!-- Errors -->
        <div v-if="errors.length > 0">
            <div v-for="error in errors">
                <div>${ error }</div>
            </div>
        </div>

        <!-- Fourth-level search results: entries for classification & source -->
        <div v-if="source">
            <!-- TODO: Turn this into a component -->
            <div v-if="classificationEntries">
                <table>
                    <tr>
                        <td>Document Type</td>
                        <td>Title</td>
                        <td>First Author</td>
                    </tr>
                    <tr v-for="entry in classificationEntries" :key="entry.scopus_id" @click="enterEntry(entry)">
                        <td>
                            <!-- TODO: Translate to human-readable -->
                            ${entry.document_type}
                        </td>
                        <td>
                            ${entry.title}
                        </td>
                        <td>
                            ${entry.first_author}
                        </td>
                    </tr>
                </table>
                <div v-if="moreEntries" @click="fetchMoreSearchEntries">Load more entries</div>
            </div>
            <!-- Entry modal -->
            <div v-if="entry" class="posFixed | fbColCtrCtr | bgMask" style="z-index: 20000">
                <div class="posRel | bgMid" style="width: 100%; max-width: 640px; max-height: 100%;">
                    <div @click="exitEntry">
                        X
                    </div>
                    <div>
                        ${ entry.publication_name }
                    </div>
                    <div>
                        ${ entry.title }
                    </div>
                    <div>
                        ${ entry.first_author }
                    </div>
                    <div>
                        ${ entry.document_type }
                    </div>
                    <div>
                        DOI: ${ entry.doi }
                    </div>
                    <div>
                        Scopus ID: ${ entry.scopus_id }
                    </div>
                    <div>
                        ${ entry.abstract }
                    </div>
                </div>
            </div>
        </div>

        <!-- Third-level search results: sources for classification -->
        <div v-else-if="classification">
            <bar-chart v-if="!isEmpty(chartData)" :chart-data="chartData" @chart-click="enterSource"></bar-chart>
        </div>

        <!-- First-level search results: categories for search query -->
        <!-- Second-level search results: classifications for category -->
        <template v-else>
            <network-graph v-if="!isEmpty(spokeNodes)" :spoke-nodes="spokeNodes" :event-handlers="networkGraphEventHandlers"></network-graph>
        </template>
    </div>

</section>
{% endblock %}

<!-- Page-Specific JS, uncompressed -->
{% block bottomjs_uncompressed %}
<script>
    // Translate django variables to JS variables
</script>
{% endblock %}

<!-- Page-Specific JS, compressed -->
{% block bottomjs_compressed %}
<script defer type="module" src="{% static 'js/visualizer.js' %}"></script>
{% endblock %}