{% extends "base.html" %}
{% load static %}

<!-- Header block -->
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/v_network_graph_style.css' %}" />
{% endblock %}

<!-- Content block -->
{% block content %}
<section v-cloak id="visualizer" class="p10">

    <!------------->
    <!-- Loading -->
    <!------------->

    <template v-if="loadingPage">
        <div class="p10">
            Loading...
        </div>
    </template>

    <!-------------------->
    <!-- Search results -->
    <!-------------------->

    <div v-else-if="searchResults" class="p10">
        <!-- Breadcrumbs -->
        <div v-if="source">
            <a @click="exitSearch">search</a> > <a @click="exitCategory">"${ search.query }"</a> > <a @click="exitClassification">${ categoryName(category) }</a> > <a @click="exitSource">${ classificationName(classification) }</a> > ${ sourceName(source) }
        </div>
        <div v-else-if="classification">
            <a @click="exitSearch">search</a> > <a @click="exitCategory">"${ search.query }"</a> > <a @click="exitClassification">${ categoryName(category) }</a> > ${ classificationName(classification) }
        </div>
        <div v-else-if="category">
            <a @click="exitSearch">search</a> > <a @click="exitCategory">"${ search.query }"</a> > ${ categoryName(category) }
        </div>
        <div v-else>
            <a @click="exitSearch">search</a> > "${ search.query }"
        </div>

        <!-- Errors -->
        <div v-if="errors.length > 0">
            <div v-for="error in errors">
                <div>${ error }</div>
            </div>
        </div>

        <!-- Fourth-level search results: entries for classification & source -->
        <div v-if="source">
            <!-- TODO: Turn this into a component -->
            <div v-if="entries" class="p10 pb20">
                <table>
                    <tr>
                        <td class="tblCell fwBold">Title</td>
                        <td class="tblCell fwBold">First Author</td>
                    </tr>
                    <tr v-for="(entry, index) in entries" :key="entry.scopus_id" :class="{ bgLight: index % 2 == 0 }">
                        <td class="tblCell" style="max-width: 800px"><a @click="enterEntry(entry)">${entry.title}</a></td>
                        <td class="tblCell">${entry.first_author}</td>
                    </tr>
                </table>
                <div v-if="fetchingMore" class="btn btnDis mt20">Loading more...</div>
                <div v-else-if="moreEntries" @click="fetchMoreSearchEntries" class="btn btnBlue mt20">Load more entries</div>
            </div>
            <!-- Entry modal -->
            <div v-if="entry" class="posFixed fbColCtrCtr bgMask" style="z-index: 20000">
                <div class="posRel bgMid p20 br10" style="width: 100%; max-width: 640px; max-height: 100%;">
                    <div class="mb10">
                        <div @click="exitEntry" style="position: relative; float: right; font-size: 20px;">&#10006;</div>
                        <div class="fsEmph">${ entry.publication_name }</div>
                        <div class="fwBold">${ entry.title }</div>
                        <div>${ entry.first_author }</div>
                    </div>
                    <div class="mb10">
                        <div>DOI: <a :href="'https://doi.org/' + entry.doi" target="_blank">${ entry.doi }</a></div>
                        <div>Scopus ID: ${ entry.scopus_id }</div>
                    </div>
                    <div v-if="entry.abstract">${ entry.abstract }</div>
                    <div v-else>Loading abstract...</div>
                </div>
            </div>
        </div>

        <!-- Third-level search results: sources for classification -->
        <div v-else-if="classification">
            <bar-chart v-if="!isEmpty(chartData)" :chart-data="chartData" @chart-click="enterSource"></bar-chart>
        </div>

        <!-- First-level search results: categories for search query -->
        <!-- Second-level search results: classifications for category -->
        <template v-else>
            <network-graph v-if="!isEmpty(spokeNodes)" :spoke-nodes="spokeNodes" :event-handlers="networkGraphEventHandlers"></network-graph>
        </template>
    </div>

    <!---------------------->
    <!-- Search selection -->
    <!---------------------->

    <template v-else>
        <div class="p10" style="max-width: 980px;">
            <p>Enter a search query to generate new results or browse existing search results.</p>
            <p class="ml10"><span class="fwBold">PRO TIP: </span>You can use a limited set of <span class="fwBold">case-sensitive</span> Boolean operators (AND, OR) in your search query (e.g. "social media AND influencer"). If you use more than one operator, your query will be interpreted according to the order of precedence described in the <a href="https://dev.elsevier.com/sc_search_tips.html" target="_blank">Scopus Search API Tips</a>.</p>
            <p class="ml10"><span class="fwBold">PRO TIP: </span>When exploring search results, don't use your browser's back button. Instead, use the breadcrumbs at the top of the page to navigate backward.</p>
            <p class="ml10"><span class="fwBold">PRO TIP: </span>If queued searches don't seem to ever start, make sure the worker is running.</p>
        </div>

        <!-- Search bar -->
        <div class="p10 pb20">
            <div class="mb10 fwBold">New Search:</div>
            <input v-model=query type="text" style="min-width:300px; max-width:600px;"></input>
            <a @click.prevent="initiateSearch" class="btn btnBlue ml10">Search</a>
        </div>

        <!-- Pending searches -->
        <div class="p10 pb20">
            <div class="mb10 fwBold">Pending Searches:</div>
            <table v-if="searchesPending.length">
                <tr>
                    <td class="tblCell fwBold" style="min-width: 500px">Query</td>
                    <td class="tblCell fwBold">Categories</td>
                    <td class="tblCell fwBold">Job Queued At</td>
                    <td class="tblCell fwBold">Job Status</td>
                    <td class="tblCell fwBold">Progress</td>
                    <td class="tblCell fwBold"></td>
                    <td class="tblCell fwBold"></td>
                </tr>
                <tr v-for="(search, index) in searchesPending" :key="search.id" :class="{ bgLight: index % 2 == 0 }">
                    <td class="tblCell">${ search.query }</td>
                    <td class="tblCell">${ getCategoriesDisplay(search) }</td>
                    <td class="tblCell">${ search.job ? formatDate(search.job.enqueued_at) : ""}</td>
                    <td class="tblCell">${ getJobStatus(search) }</td>
                    <td class="tblCell">${ search.finished_categories.length} of ${search.categories.length} categories</td>
                    <td class="tblCell"><a @click.prevent="deleteSearch(search.id)" v-if="getJobStatus(search) != 'started'">Delete</a></td>
                    <td class="tblCell"><a @click.prevent="restartSearch(search.id)" v-if="getJobStatus(search) == 'stalled'">Restart</a></td>
                </tr>
            </table>
            <div v-else>
                No pending searches
            </div>
        </div>

        <!-- Completed searches -->
        <div class="p10 pb20">
            <div class="mb10 fwBold">Completed Searches:</div>
            <table v-if="searchesCompleted.length">
                <tr>
                    <td class="tblCell fwBold" style="min-width: 500px">Query</td>
                    <td class="tblCell fwBold">Categories</td>
                    <td class="tblCell fwBold">Finished At</td>
                    <td class="tblCell fwBold"></td>
                </tr>
                <tr v-for="(search, index) in searchesCompleted" :key="search.id" :class="{ bgLight: index % 2 == 0 }">
                    <td class="tblCell"><a @click.prevent="selectSearch(search)">${ search.query }</a></td>
                    <td class="tblCell">${ getCategoriesDisplay(search) }</td>
                    <td class="tblCell">${ formatDate(search.finished_at) }</td>
                    <td class="tblCell"><a @click.prevent="deleteSearch(search.id)">Delete</a></td>
                </tr>
            </table>
            <div v-else>
                No completed searches
            </div>
        </div>
    </template>

</section>
{% endblock %}

<!-- Page-Specific JS, uncompressed -->
{% block bottomjs_uncompressed %}
<script>
    // Translate django variables to JS variables
</script>
{% endblock %}

<!-- Page-Specific JS, compressed -->
{% block bottomjs_compressed %}
<script defer type="module" src="{% static 'js/visualizer.js' %}"></script>
{% endblock %}