{
    "plugins": [
        "transform-object-rest-spread",
        "transform-html-import-to-string",
        [
            "babel-plugin-root-import",
            {
                "rootPathSuffix": "./",
                "rootPathPrefix": "~"
            }
        ]
    ]
}
