[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.2.14"               # pinned for feature stability
django-heroku = "~=0.3.1"         # pinned for feature stability
dj-database-url = "~=0.5"         # pinned for feature stability
gunicorn = "~=19.9"               # pinned for feature stability
requests = "~=2.25.1"             # pinned for feature stability
django-compressor = "*"
django-compressor-toolkit = "*"

[requires]
python_version = "3.7"
