<section class="network-graph">
  <div class="outer-box">
    <div class="network-graph">
      <!-- <v-network-graph :nodes="nodes" :edges="edges" :layouts="layouts" :configs="configs" :event-handlers="eventHandlers" style="--svg-width:1000px;--svg-height:1000px"> -->
      <v-network-graph :nodes="nodes" :edges="edges" :layouts="layouts" :configs="configs" :event-handlers="eventHandlers" :style="graphStyles">
        <template
          #override-node-label="{ nodeId, scale, text, x, y, config, textAnchor, dominantBaseline }"
        >
          <text
            x="0"
            y="0"
            :font-size="14 * scale"
            text-anchor="middle"
            dominant-baseline="central"
            fill="white"
          >
            ${ text }
          </text>
          <text
            :x="x"
            :y="y"
            :font-size="14 * scale"
            :text-anchor="getTextAnchor(nodeId)"
            :dominant-baseline="dominantBaseline"
            fill="config.color"
          >
            ${ nodeId }
          </text>
        </template>    
      </v-network-graph>
    </div>
  </div>
</section>