/*
 * Base stylesheet for the visualizer app.
 */

/* v-cloak directive */
[v-cloak] {
  display: none;
}

/* Links */
a:hover {
  cursor:pointer;
}

/* SVG */
svg.v-canvas {
  /* Don't allow the v-network-graph canvas to capture pointer events; the graphs are large and we
   * want to use the mouse wheel to scroll the page, not zoom the graph. */
  pointer-events: none;
}
g.v-node {
  /* Specifically allow v-network-graph nodes to capture pointer events, so that the user can click
     through the search results from higher-level graph to lower-level graph. */
  pointer-events: all;
}

/* Font */
.fwBold {
  font-weight: bold;
}
.fsSml {
  font-size: 12px;
}
.fsEmph {
  font-style: italic;
}

/* Position */
.posFixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
.posRel {
  position: relative;
}

/* Background */
.bgMask {
  background-color: rgba(245, 245, 245, 0.5);
}
.bgLight {
  background-color: #f5f5f5;
}
.bgMid {
  background-color: #d0d0d0;
}
.bgDrk {
  background-color: #333333;
}

/* Padding/Margin */
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.mt20 {
  margin-top: 20px;  
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}

/* Border */
.br10 {
  border-radius: 10px;
}

/* Button */
.btn {
  vertical-align: bottom !important;
  padding: 2px 12px !important;
}
.btnBlue {
  background-color: #337ab7; /* hyperlink blue, lol */
  color: #f9f9f9;
}
.btnDis {
  background-color: #d0d0d0;
  color: #f9f9f9;
}

/* Table */
.tblCell {
  padding: 5px;
}

/* Flexbox */
.fbColCtrCtr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Network Graph */
.network-graph {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.v-network-graph {
  position: relative;
  padding: 0;
  width: var(--svg-width);
  height: var(--svg-height);
}
.v-canvas {
  /* There's probably a better way to position the graph on the page, but I suck at stylesheets */
  overflow: visible !important;
  width: 100%;
  height: 100%;
}
